#macro(alt $a $b)#if($a)$a#{else}$b#end#end

#macro(msg $m $t)
#if($m)
<div class="alert alert-#alt($t 'error')">
<button type="button" class="close" data-dismiss="alert">&times;</button>
$m
</div>
#end
#end
		
#macro(status_class $status)
#set($map = {
	"INITED": "", 
	"FINISHED": "label-success", 
	"FAILED": "label-important", 
	"SYNTAXERROR": "label-warning", 
	"RUNNING": "label-info"})$map["$status"]#end