<h2>System.getProperties()</h2>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        #foreach ($key in $p.keySet())
        <tr>
            <td>$key</td>
			<td>$p.getProperty($key)</td>
        </tr>
        #end
    </tbody>
</table>

<hr>
	
<h2>System.getenv()</h2>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        #foreach ($key in $env.keySet())
        <tr>
            <td>$key</td>
			<td>$env.get($key)</td>	
        </tr>
        #end
	</tbody>
</table>
