#set($nav='crontab.list')

<h2>Crontabs</h2>
<hr class="bold">

<div class="table-pages">

#pagination( $pagination "" )

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Query</th>
            <th>Crontab</th>
            <th>Status</th>
            <th>History</th>
        </tr>
    </thead>
    <tbody>
        #foreach($crontab in $pagination.getItems())
        <tr>
            <td>$crontab.getId()</td>
            <td><a href="/hwi/crontabs/$crontab.getId()">$crontab.getName()</a></td>
            <td>
                #shortQuery($crontab.getQuery())
                <pre class="short-query tip"><code class="sql">$shortQuery</code></pre>
                <pre class="long-query hide"><code class="sql">$crontab.getQuery()</code></pre>
            </td>
            <td><code>$crontab.getCrontab()</code></td>
            <td><span class="label #crontab_status($crontab.getStatus())">$crontab.getStatus()</span></td>
            <td><a class="btn btn-mini" href="/hwi/queries?crontabId=$crontab.getId()" title="Query History"><i class="icon-film"></i></a></td>
        </tr>
        #end
    </tbody>
</table>

#if($pagination.getItems().size() > 10)
#pagination( $pagination "" )
#end

</div>