#set($nav='crontab.list')

#macro (pagination)
<div class="pagination">
    <ul>
        <li><span>$pagination.getTotal()</span></li>
		#set($pages=$pagination.getPages()+1)
        #foreach( $page in [1..$pages] )
        <li class="#if($page==$pagination.getPage())active#end"><a href="?page=$page">$page</a></li>
        #end
    </ul>
</div>
#end


<h2>Crontabs</h2>
<hr>
	
<div class="table-pages">
	
#pagination

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Query</th>
            <th>Crontab</th>
			<th>Status</th>
			<th>History</th>
        </tr>
    </thead>
    <tbody>
        #foreach($crontab in $pagination.getItems())
        <tr>
            <td>$crontab.getId()</td>
            <td><a href="/hwi/crontabs/$crontab.getId()">$crontab.getName()</a></td>
            <td>
                #if($crontab.getQuery().length() > 30)
                #set($shortQuery=$crontab.getQuery().substring(0,30))
                #else
                #set($shortQuery=$crontab.getQuery())
                #end
                <code class="hide">$crontab.getQuery()</code>
                <code class="short">$shortQuery</code>
            </td>
            <td>$crontab.getCrontab()</td>
			<td><span class="label #crontab_status($crontab.getStatus())">$crontab.getStatus()</span></td>
			<td><a href="/hwi/queries?crontabId=$crontab.getId()" title="Query History"><i class="icon-film"></i></a></td>
        </tr>
        #end
    </tbody>
</table>

#if($pagination.getItems().size() > 5)
#pagination
#end

</div>

<script>
    $(function(){
        $('code.short').tooltip({title:function(){
                return $(this).siblings('code.hide').text()
        }})
    })
</script>
