#set($nav='schema')

<div>
<a href="/hwi/schema">Schema</a>
/ 
<h2>$db.getName()</h2>
</div>
<hr class="bold">

<dl class="dl-horizontal">
<dt>Name</dt>
<dd>$db.getName()</dd> 
<dt>Description</dt>
<dd>#alt($db.getDescription() '--')</dd>
</dl>

<hr>

<table class="table table-bordered table-striped">
	<thead>
        <tr>
            <th>Table</th>
        </tr>
    </thead>
    <tbody>
        #foreach ($table in $tables)
		<tr>
        <td><a href="/hwi/schema/$db.getName()/$table">$table</a></td>
        </tr>
		#end
    </tbody>
</table>
