#set($nav='query.list')

#if($crontabId)
    #set($urlQuery = "crontabId=$crontabId")
#else
    #set($urlQuery = "")
#end

<h2>Queries</h2>
<hr class="bold">
    
<div class="table-pages">
    
#pagination( $pagination $urlQuery )

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Query</th>
            <th>Status</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        #foreach($query in $pagination.getItems())
        <tr>
            <td>$query.getId()</td>
            <td><a href="/hwi/queries/$query.getId()">$query.getName()</a></td>
            <td>
                #if($query.getQuery().length() > 30)
                #set($shortQuery=$query.getQuery().substring(0,30))
                #else
                #set($shortQuery=$query.getQuery())
                #end
                #set($shortQuery=$shortQuery.replaceAll("\r|\n", " "))
                <pre class="long-query hide">$query.getQuery()</pre>
                <pre class="short-query"><code class="sql">$shortQuery</code></pre>
            </td>
            <td><span class="label #query_status($query.getStatus())">$query.getStatus()</span></td>
            <td>
                #if ($query.getStatus() == "FINISHED")
                <a  class="btn btn-mini" href="/hwi/queries/$query.getId()/result" title="view result"><i class="icon-envelope"></i></a>
                #end
                
                #if ($query.getErrorMsg())
                <a class="btn btn-mini btn-danger" href="/hwi/queries/$query.getId()#error-msg" title="view error"><i class="icon-warning-sign"></i></a>
                #end
            </td>
        </tr>
        #end
    </tbody>
</table>

#if($pagination.getItems().size() > 10)
#pagination( $pagination $urlQuery ) 
#end

</div>