#set($nav='query.list')

#set($urlQuery = "")

#if($crontabId)
    #set($urlQuery = $urlQuery + "crontabId=$crontabId")
#end

#if($queryName)
    #set($urlQuery = $urlQuery + "queryName=$queryName")
#end

<div class="clearfix">
<h2 class="pull-left">Queries</h2>

<form class="form-search pull-right h2">
  <div class="input-append">
    <input type="text" class="search-query" name="queryName" value="$!queryName" placeholder="search query name">
    <button type="submit" class="btn">Search</button>
  </div>
</form>
</div>
<hr class="bold">
    
<div class="table-pages">
    
#pagination( $pagination $urlQuery )

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Query</th>
            <th>Status</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        #foreach($query in $pagination.getItems())
        <tr>
            <td>$query.getId()</td>
            <td><a href="/hwi/queries/$query.getId()">$query.getName()</a></td>
            <td>
                #shortQuery($query.getQuery())
                <pre class="short-query tipper thin no-border"><code class="sql">$shortQuery</code></pre>
                <pre class="long-query tip hide thin top-border"><code class="sql">$query.getQuery()</code></pre>
            </td>
            <td><span class="label #query_status($query.getStatus())">$query.getStatus()</span></td>
            <td>
                #if ($query.getStatus() == "FINISHED")
                <a  class="btn btn-mini" href="/hwi/queries/$query.getId()/result" title="view result"><i class="icon-envelope"></i></a>
                #end
                
                #if ($query.getErrorMsg())
                <a class="btn btn-mini btn-danger" href="/hwi/queries/$query.getId()#error-msg" title="view error"><i class="icon-warning-sign"></i></a>
                #end
            </td>
        </tr>
        #end
    </tbody>
</table>

#if($pagination.getItems().size() > 10)
#pagination( $pagination $urlQuery ) 
#end

</div>