#set($title='hwi')

<div class="hero-unit">
<h2>Hive Web Interface</h2>
<p>The Hive Web Interface (HWI) offers an alternative to the
command line interface (CLI). Once authenticated users can start
HWIWebSessions. A HWIWebSession lives on the server users can
submit queries and return later to view the status of the query and
view any results it produced.</p>
</div>
